// Mixins in here
.button(@radius:13px; @font-color:@main-bg; @bg-color: @button-bg; @x-padding:30px; @y-padding:10px){
    border-radius: @radius;
    color: @font-color;
    background-color: @bg-color;
    padding: @y-padding @x-padding;
    text-align: center;
    font-size: 1.6rem;
}